// -----------------------------------------------------------------------------
// This file contains everything related to typography.
// -----------------------------------------------------------------------------

@font-face {
  font-family: 'Helvetica Neue';
  src: url('https://assets.kennethwang.dev/fonts/Helvetica Neue LT Std/subset-HelveticaNeueLTStd-Lt.eot');
  src: url('https://assets.kennethwang.dev/fonts/Helvetica Neue LT Std/subset-HelveticaNeueLTStd-Lt.eot?#iefix') format('embedded-opentype'),
    url('https://assets.kennethwang.dev/fonts/Helvetica Neue LT Std/subset-HelveticaNeueLTStd-Lt.woff2') format('woff2'),
    url('https://assets.kennethwang.dev/fonts/Helvetica Neue LT Std/subset-HelveticaNeueLTStd-Lt.woff') format('woff'),
    url('https://assets.kennethwang.dev/fonts/Helvetica Neue LT Std/subset-HelveticaNeueLTStd-Lt.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url('https://assets.kennethwang.dev/fonts/Helvetica Neue LT Std/subset-HelveticaNeueLTStd-It.eot');
  src: url('https://assets.kennethwang.dev/fonts/Helvetica Neue LT Std/subset-HelveticaNeueLTStd-It.eot?#iefix') format('embedded-opentype'),
    url('https://assets.kennethwang.dev/fonts/Helvetica Neue LT Std/subset-HelveticaNeueLTStd-It.woff2') format('woff2'),
    url('https://assets.kennethwang.dev/fonts/Helvetica Neue LT Std/subset-HelveticaNeueLTStd-It.woff') format('woff'),
    url('https://assets.kennethwang.dev/fonts/Helvetica Neue LT Std/subset-HelveticaNeueLTStd-It.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url('https://assets.kennethwang.dev/fonts/Helvetica Neue LT Std/subset-HelveticaNeueLTStd-Bd.eot');
  src: url('https://assets.kennethwang.dev/fonts/Helvetica Neue LT Std/subset-HelveticaNeueLTStd-Bd.eot?#iefix') format('embedded-opentype'),
    url('https://assets.kennethwang.dev/fonts/Helvetica Neue LT Std/subset-HelveticaNeueLTStd-Bd.woff2') format('woff2'),
    url('https://assets.kennethwang.dev/fonts/Helvetica Neue LT Std/subset-HelveticaNeueLTStd-Bd.woff') format('woff'),
    url('https://assets.kennethwang.dev/fonts/Helvetica Neue LT Std/subset-HelveticaNeueLTStd-Bd.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url('https://assets.kennethwang.dev/fonts/Helvetica Neue LT Std/subset-HelveticaNeueLTStd-LtIt.eot');
  src: url('https://assets.kennethwang.dev/fonts/Helvetica Neue LT Std/subset-HelveticaNeueLTStd-LtIt.eot?#iefix') format('embedded-opentype'),
    url('https://assets.kennethwang.dev/fonts/Helvetica Neue LT Std/subset-HelveticaNeueLTStd-LtIt.woff2') format('woff2'),
    url('https://assets.kennethwang.dev/fonts/Helvetica Neue LT Std/subset-HelveticaNeueLTStd-LtIt.woff') format('woff'),
    url('https://assets.kennethwang.dev/fonts/Helvetica Neue LT Std/subset-HelveticaNeueLTStd-LtIt.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url('https://assets.kennethwang.dev/fonts/Helvetica Neue LT Std/subset-HelveticaNeueLTStd-Roman.eot');
  src: url('https://assets.kennethwang.dev/fonts/Helvetica Neue LT Std/subset-HelveticaNeueLTStd-Roman.eot?#iefix') format('embedded-opentype'),
    url('https://assets.kennethwang.dev/fonts/Helvetica Neue LT Std/subset-HelveticaNeueLTStd-Roman.woff2') format('woff2'),
    url('https://assets.kennethwang.dev/fonts/Helvetica Neue LT Std/subset-HelveticaNeueLTStd-Roman.woff') format('woff'),
    url('https://assets.kennethwang.dev/fonts/Helvetica Neue LT Std/subset-HelveticaNeueLTStd-Roman.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('https://assets.kennethwang.dev/fonts/Montserrat/subset-Montserrat-Medium.eot');
  src: url('https://assets.kennethwang.dev/fonts/Montserrat/subset-Montserrat-Medium.eot?#iefix') format('embedded-opentype'),
    url('https://assets.kennethwang.dev/fonts/Montserrat/subset-Montserrat-Medium.woff2') format('woff2'),
    url('https://assets.kennethwang.dev/fonts/Montserrat/subset-Montserrat-Medium.woff') format('woff'),
    url('https://assets.kennethwang.dev/fonts/Montserrat/subset-Montserrat-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'FF Meta';
  src: url('https://assets.kennethwang.dev/fonts/FF Meta Serif Pro/subset-FFMetaSerifPro-Book.eot');
  src: url('https://assets.kennethwang.dev/fonts/FF Meta Serif Pro/subset-FFMetaSerifPro-Book.eot?#iefix') format('embedded-opentype'),
    url('https://assets.kennethwang.dev/fonts/FF Meta Serif Pro/subset-FFMetaSerifPro-Book.woff2') format('woff2'),
    url('https://assets.kennethwang.dev/fonts/FF Meta Serif Pro/subset-FFMetaSerifPro-Book.woff') format('woff'),
    url('https://assets.kennethwang.dev/fonts/FF Meta Serif Pro/subset-FFMetaSerifPro-Book.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

$line-height: 1.5;

@mixin fancy-font {
  font-family: "proxima-nova", Helvetica, arial, sans-serif;
  .fonts-loaded & {
    font-family: "Montserrat", "proxima-nova", Helvetica, arial, sans-serif;
  }
}
@mixin serious-font {
  font-family: Georgia, "Times New Roman", Times, serif;
  .fonts-loaded & {
    font-family: "FF Meta", Georgia, "Times New Roman", Times, serif;
  }
}
@mixin body-font {
  font-family: "proxima-nova", Helvetica, arial, sans-serif;
  .fonts-loaded & {
    font-family: "Helvetica Neue", "proxima-nova", Helvetica, arial, sans-serif;
  }  
}


html {
  font-size: 100%;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  line-height: $line-height;
  color: $body-color;
  @include body-font;
}

/* 
 * Modular scale
 * http://www.modularscale.com/?1.2&em&1.3&web&text
*/

$type-scale: (
  hero: 6rem, // deviates from modular scale
  sub-hero: 4.456rem,
  h1: 3.427em,
  h2: 2.636rem,
  h3: 2.028rem,
  h4: 1.56rem,
  p: 1.2rem,
  small: 1.05rem // deviates from modular scale
);

/* 
 * Modular scale
 * http://www.modularscale.com/?1.1&em&1.3&web&text
*/

$type-scale-tablet: (
  hero: 5.309rem,
  sub-hero: 4.084rem,
  h1: 3.142rem,
  h2: 2.417rem,
  h3: 1.859em,
  h4: 1.43rem,
  p: 1.1rem, 
  small: 1rem
);


/* 
 * Modular scale
 * http://www.modularscale.com/?1.05&em&1.2&web&text
*/

$type-scale-mobile: (
  hero: 3.135rem,
  sub-hero: 2.613rem,
  h1: 2.177rem,
  h2: 1.814rem,
  h3: 1.512rem,
  h4: 1.26rem,
  p: 1.05rem,
  small: 0.94rem // deviates from modular scale
);


$breakpoint-tablet: 75em;
$breakpoint-mobile: 44em;

@mixin size($level) {
  font-size: map-get($type-scale, $level);
  @media (max-width: $breakpoint-tablet) {
     font-size: map-get($type-scale-tablet, $level);
  }
  @media (max-width: $breakpoint-mobile) {
     font-size: map-get($type-scale-mobile, $level);
  }
}

$whitespace: $line-height * map-get($type-scale, p);

@mixin margin-bottom($level) {
  margin-bottom: $line-height * map-get($type-scale, p) * $level;
  @media (max-width: $breakpoint-tablet) {
     margin-bottom: $line-height * map-get($type-scale-tablet, p) * $level * 0.8;
  }
  @media (max-width: $breakpoint-mobile) {
     margin-bottom: $line-height * map-get($type-scale-mobile, p) * $level * 0.66;
  }
}

@mixin margin-top($level) {
  margin-top: $line-height * map-get($type-scale, p) * $level;
  @media (max-width: $breakpoint-tablet) {
     margin-top: $line-height * map-get($type-scale-tablet, p) * $level;
  }
  @media (max-width: $breakpoint-mobile) {
     margin-top: $line-height * map-get($type-scale-mobile, p) * $level;
  }
}

h1 {@include size(h1);}
h2 {@include size(h2);}
h3 {@include size(h3);}
h4 {@include size(h4);}
p {@include size(p);}
li {@include size(p);}
small {@include size(small);}



ol,
ul {
  padding-left: 1.4rem;
}

@mixin container($width: 48rem) {
  margin: auto;
  @include margin-top(1);
  @include margin-bottom(3);
  max-width: $width;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

a {
  text-decoration: none;
  color: inherit;
}