.portfolio-entry__container {
  padding-top: 2rem;
    .overview {
      @include size(h3);
      text-align: center;
      color: color($grey, 400);
      font-weight: 100;
    }
    .title {
      @include size(h1);
      @include margin-bottom(1.5);
      line-height: 1;
      text-align: center;
      font-weight: 800;
    }
    .desc {
      @include container;
      @include margin-bottom(1.5);
      @include size(h4);
      @include serious-font;
      line-height: 1.6;
      padding-left:1rem;
      padding-right:1rem;
          a {
            @include link-underline(white, color($theme-color, 200), 90%, 1px);
          }
    }

}

.portfolio-entry__tri {
  @include container;
  lost-utility: clearfix;
    .col {
      lost-column: 1/3;
    }
    .small-title {
      font-weight: 800;
      text-transform: uppercase;
      @include size(p);
    }
    .answer {
      @include size(small);
    }
    padding-left:1rem;
    padding-right:1rem;
}

.portfolio-entry__testimonial {
  @include container;
  @include margin-bottom(2);

      .container {
        border: 3px solid color($theme-color);
        padding: 2rem;
      }
      .testimonial {
        @include size(h4);
        @include margin-bottom(0.5);
        color: color($theme-color, 700);
        @include serious-font;
      }
      .author {
        @include size(h4);
        color: color($theme-color, 700);
        @include serious-font;
        display: block;
        text-align: right;
        font-weight: 800;
      }
}

.portfolio-entry__container {
  .btn-container {
    @include margin-bottom(4);
  }
  .visit {
    @include size(h3);
    color: white;
    display: block;
    text-align: center;
  }
      .btn-container button {
        @include button-lite(color($theme-color));
        max-width: 30rem;
        width: 100%;
      }

      .btn-container-padding {
        // TODO: Remove this workaround
        padding-left: 1rem;
        padding-right: 1rem;
      }

  .gradient {
    @include gradient-hr(3);
  }
}

.portfolio-entry__showcase {
  @include container(72rem);
  padding-left: 1rem;
  padding-right: 1rem;
  margin-bottom: 0;
  
      .page-title {
        text-align: center;
        font-weight: 100;
        @include margin-bottom(0.3);
        @include size(h2);
      }
      hr {
        @include easy-hr(1.5);
        border-color: $body-color;
        background-color: $body-color;
      }
      .page-desc {
        text-align: center;
        @include size(h5);
        @include body-font;
        width: 100%;
        max-width: 60rem;
        margin: auto;
        @include margin-bottom(1.5);
        font-weight: 400;
        color: color($grey, 700);
          a {
            color: color($theme-color, 400);
            @include link-underline(white, color($theme-color, 200), 90%, 1px);
          }
      }
      .plyr {
        @include margin-bottom(4);
      }
      .browser.multi-browser {
        @include margin-bottom(1);
        display: block;
      }
      .browser {
        @include margin-bottom(4);
        display: block;
      }
      .spacing-full {
        @include margin-bottom(4);
        display: block;
          img {
            vertical-align: middle;
          }
      }
      .spacing {
        @include margin-bottom(1);
        display: block;
          img {
              vertical-align: middle;
            }
      }

      .link-below {
        @include margin-bottom(2);
      }

      .duo {
        @include margin-bottom(3);
        lost-utility: clearfix;
        &.multi-browser {
          margin-bottom:0;
        }
        &.link-below {
          @include margin-bottom(1);
        }
      }

          .col {
            lost-column: 1/2;
            @media (max-width: $breakpoint-mobile) {
              lost-column: none;
              lost-row: 1/2;
              margin: auto!important; /* TODO: use another method */
              width: 95%!important; /* TODO: use another method */
            }
            .browser {
              @include margin-bottom(1);
            }
          }

  .edbacker-center {
    max-width: 46.5rem;
    margin: auto;
  }
}

.portfolio-entry__container {
  .view-all {
    @include margin-bottom(3);
    @include margin-top(1);
    @include size(h3);
    font-weight: 100;
    text-align: center;
    font-style: italic;
    color: color($grey, 600);
    line-height: 1.4;
    padding-left: 1rem;
    padding-right: 1rem;
    display: block;
    a {
      @include link-underline(white, color($theme-color, 100), 95%, 2px);
    }
  }
}